@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    background-color: #264653;
}
.button{
    background-color: #E76F51;
}
.read-more-button{
    border: 1px solid #E76F51;
    color: #E76F51;
}